
header{
    
width: 1440px;
height: 160px;
border-radius: 0px 0px 50px 50px;
/* border:2px solid rgb(0, 204, 255); */
padding: 50px 80px;
background-color: #fff;
}
.img1{
    margin-left: 1000px;
    width: 60px;
    height: 54px;
    /* margin-top: 53px; */
    vertical-align: middle;
}
article{
  
   overflow: auto;
   margin: 0 auto;
}
section{
  
    height: 1000px;
    width: 1440px;
   margin-top: 90px;
}
.img2{
    /* padding: 33px 30px; */
    vertical-align: middle;
}
.img3{
    position: absolute;
width: 1280px;
height: 720px;
left: 80px;
top: 90px;

}
.section1{
    position: relative;
}
span{
    position: absolute;
    font-weight: 700;
font-size: 40px;
line-height: 52px;
width: 584px;
height: 156px;
color: #FDF50E;
text-align: center;
left: 428px;
top: 380px;
font-family: "BPG Glaho";
}
.span1{
    margin-top: 1016px;
    position: absolute;
width: 785px;
height: 52px;
left: -20px;
top: 206px;
color: #125806;
font-family: "BPG Glaho";

}
.div4{
    background-color: rgba(193, 192, 192, 0.348);
    height: 2629px;
    margin: 0 auto;
    width: 1440px;
}
.img4{
    margin-top: 1350px;
    margin-left: 80px;
}
.img5{
    margin-left: 23px;
}
.img6{
    margin-left: 23px;
}
.img7{
    margin-left: 80px;
    margin-top: 23px;
    display: block;
}
.img8{
    margin-top: 28px;
    margin-left: 28px;
}
.img9{
    display: block;
    margin-left: 80px;
    margin-top: 23px;
}
.div2{
    color: #fff;
   
}
.div5{
    display: inline-block;
}
footer{
    position: absolute;
width: 1440px;
height: 292px;
/* border: 3px solid black; */
margin: 0 auto;
margin-left: 420px;
background: #FFFFFF;
}
.img10{
    margin-left: 80px;
    margin-top: 50px;
}
.li1{
    font-family: 'BPG Glaho';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;

position: absolute;
width: 98px;
height: 26px;
left: 1123px;
margin-top: 30px;
}
.li2{
    font-family: 'BPG Glaho';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
position: absolute;
width: 237px;
height: 21px;
left: 1123px;
margin-top: 100px;
}
.li3{
    position: absolute;
width: 160px;
height: 21px;
left: 1123px;
font-family: 'BPG Glaho';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
top: 150px;
}
.li4{
    position: absolute;
width: 167px;
height: 21px;
left: 1123px;
font-family: 'BPG Glaho';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
top: 200px;
}